<%%= hook :admin_<%= model_path %>_new_form_header do %>
  <%%= render 'shared/error_messages', :target => @<%= model_path %> %>
  <h1><%%= t("new_<%= model_path %>") %></h1>
<%% end %>

<%%= hook :admin_<%= model_path %>_new_form do %>
  <%%= form_for(:<%= model_path %>, :url => collection_url) do |f| %>
    <%%= render :partial => "form", :locals => { :f => f } %>

    <%%= hook :admin_<%= model_path %>_new_form_buttons do %>
      <%%= render :partial => "admin/shared/new_resource_links" %>
    <%% end %>
  <%% end %>
<%% end %>