<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%%= button_link_to t("new_<%= model_path %>"), new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%%= t("listing_<%= model_path.pluralize %>") %></h1>

<table class="index">
  <thead>
  <tr>
    <% for attribute in model_attributes -%>
      <th><%= attribute.name %></th>
    <% end %>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
    <%% @<%= model_path.pluralize %>.each do |<%= model_path %>|%>
      <tr id="<%%= dom_id <%= model_path %> %>">
        <% for attribute in model_attributes -%>
          <td width="350px"><%%= link_to <%= model_path %>.<%= attribute.name %>, edit_object_url(<%= model_path %>) %></td>
        <% end %>
        <td>
          <%%= link_to_edit <%= model_path %> %> &nbsp;
          <%%= link_to_delete <%= model_path %> %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>

<%%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>